<table mat-table [dataSource]="tableData" multiTemplateDataRows>
  @defer {
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="dependency-type">
      <th mat-header-cell *matHeaderCellDef> type </th>
      <td mat-cell *matCellDef="let element"> {{element.dependencyType}} </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef> version </th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> severity </th>
      <td mat-cell *matCellDef="let element"> {{getVulnerabilitySeverity(element.vulnerabilities)}} </td>
    </ng-container>

    <ng-container matColumnDef="suggestedVersion">
      <th mat-header-cell *matHeaderCellDef> suggestedVersion </th>
      <td mat-cell *matCellDef="let element"> {{element.suggestedVersion}} </td>
    </ng-container>

    <ng-container matColumnDef="upgradeType">
      <th mat-header-cell *matHeaderCellDef> upgradeType </th>
      <td mat-cell *matCellDef="let element"> {{element.upgradeType}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <h2>{{element.name}}&#64;{{element.version}}</h2>
          <div mat-subheader>Requested by</div>

          <ul>
            @if (!element.seeAllRequestedBy) {
              <li>{{element.requestedBy.slice(0, 5).join(', ')}}</li>
              @if (element.requestedBy.length > 5) {
                <p (click)="seeAllRequestedBy(element)">see {{ element.requestedBy.length - 5 }} more</p>
              }
            }
            @else {
              <li>{{element.requestedBy.join(', ')}}</li>
              <p (click)="seeAllRequestedBy(element)">see less</p>
            }
          </ul>


          <div mat-subheader>Detailed paths</div>

          <ul>
            @if (element.seeAllIntroducedThrough) {
              @for (introducedThrough of element.introducedThrough; track $index) {
                <li>{{ introducedThrough.join(' > ') }}</li>
              }
              <p (click)="seeAllIntroducedThrough(element)">see less</p>
            }
            @else {
              @for (introducedThrough of element.introducedThrough.slice(0, 5); track $index) {
                <li>{{ introducedThrough.join(' > ') }}</li>
              }
              @if (element.introducedThrough.length > 5) {
                <p (click)="seeAllIntroducedThrough(element)">see {{element.introducedThrough.length - 5}} more</p>
              }
            }
          </ul>

          <div mat-subheader>Vulnerabilities</div>
          <mat-list>
            @for (vulnerability of element.vulnerabilities; track $index) {
              <mat-list-item>
                <mat-icon matListItemIcon matTooltip="Go to {{extractDomain(vulnerability.permalink)}}" (click)="navigateToUrl(vulnerability.permalink)">open_in_new</mat-icon>
                <span matListItemTitle>{{ vulnerability.summary ?? vulnerability.description }}</span>
                <span matListItemLine>Severity: {{vulnerability.severity}}</span>
                <span matListItemLine>Vulnerability range: {{vulnerability.vulnerableRange}}</span>
              </mat-list-item>
            }
          </mat-list>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: tableColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  } @loading (minimum 1s) {
    <h1>Loading...</h1>
  }
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
