<div class="app-container">
  <mat-toolbar>
    <button mat-icon-button (click)="toolbarService.sidebar?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color: black; margin-right: 4px">
    {{system?.name ?? "No name"}}
  </span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button (click)="updateSystem()">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-icon fontIcon="edit" (click)="navigateToEdit()"></mat-icon>
  </mat-toolbar>

  <div style="padding-top: 1rem">
    <mat-form-field class="run-date">
      <mat-label>Run date</mat-label>
      <select matNativeControl [(ngModel)]="selectedRunDate" (ngModelChange)="getRunData()">
        @for (run of system?.runs; track run.date) {
          <option [value]="run.date">{{ convertToDateString(run.date) | date:'full'}}</option>
        }
      </select>
    </mat-form-field>
  </div>
  <mat-tab-group style="margin-left: 2rem; margin-right: 2rem">
    <mat-tab label="Dashboard">
      @if (projects.length > 0 && licences.length > 0) {
        <app-system-dashboard [projects]="projects" [licences]="licences"></app-system-dashboard>
      } @else {
        <div style="position:fixed;top:50%;left:50%">
          <mat-spinner></mat-spinner>
        </div>
      }
    </mat-tab>
    <mat-tab label="Projects">
      @if (projects.length > 0) {
        <h2>{{projects.length}} project{{projects.length == 1 ? '' : 's'}} in this system:</h2>

        <div style="padding-bottom: 2rem">
          <app-projects-table
            [projects]="projects"
          ></app-projects-table>
        </div>
      }
      @else {
        <div style="position:fixed;top:50%;left:50%">
          <mat-spinner></mat-spinner>
        </div>
      }
    </mat-tab>
    <mat-tab label="Dependencies">
      @if (dependencies.length > 0) {
        <h2>Dependencies</h2>
        <p style="color: grey;">
          Direct dependencies: {{directDependencies.length}} | Transitive dependencies: {{transitiveDependencies.length}}
        </p>

        <app-dependencies
          [allDependencies]="dependencies">
        </app-dependencies>
      }
      @else {
        <div style="position:fixed;top:50%;left:50%">
          <mat-spinner></mat-spinner>
        </div>
      }
    </mat-tab>
    <mat-tab label="Licences">
      @if (dependencies.length > 0) {
        <app-system-licences-2
          [dependencies]="dependencies" [systemId]="id!" [projectIds]="projectIds">
        </app-system-licences-2>
      }
      @else {
        <div style="position:fixed;top:50%;left:50%">
          <mat-spinner></mat-spinner>
        </div>
      }
    </mat-tab>
  </mat-tab-group>
</div>
