<div *ngIf="depth > 0">
  <div class="hover-parent" (click)="showMoreToggle()">
    <div>
      <button mat-icon-button disabled="{{children.length == 0}}">
        <mat-icon class="mat-icon-rtl-mirror">
          @if (children.length > 0) {
            {{ showMore ? 'expand_more' : 'chevron_right' }}
          }
        </mat-icon>
      </button>
      <span [ngClass]="{'highlight': isHighlighted()}">
        {{dependency?.name}}&commat;{{dependency?.version}}
      </span>
      <button mat-button class="hover-button" (click)="navigateToDependency()">See details</button>
    </div>

  </div>
</div>

@for(dependency of children; track $index) {
  @if (showMore && (containsFilters($index) || ((this.filter | json) === '{}'))) {
    <div [ngStyle]="getPadding()">
      @defer (on viewport){
        <app-dependency-recursive
        [depth]="depth + 1"
        [children]="dependency.children"
        [filter]="filter"
        [showMore]="containsFilters($index)"
        [dependency]="dependency.data"
        (childEvent)="receiveInfo($event)">
      </app-dependency-recursive>
      } @placeholder () {
        <p>Loading...</p>
      }
    </div>
  }
}
