@if (loaded) {
  <mat-accordion [multi]="false">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header style="margin: 16px">
        <mat-panel-title>
          Operational Risk
        </mat-panel-title>
        <mat-panel-description>
          Libraries that haven't been updated in the last {{OUT_OF_SUPPORT_MONTHS}} months.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-old-dependencies-table [projects]="projects" [libraries]="libraries" [filter]="getOutOfSupport"></app-old-dependencies-table>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header style="margin: 16px">
        <mat-panel-title>
          Outdated Library Versions
        </mat-panel-title>
        <mat-panel-description>
          Libraries that haven't been updated in the last {{OUTDATED_MONTHS}} months.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-old-dependencies-table [projects]="projects" [libraries]="libraries" [filter]="getOutDated"></app-old-dependencies-table>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header style="margin: 16px">
        <mat-panel-title>
          Vulnerable Library Versions
        </mat-panel-title>
        <mat-panel-description>
          Libraries that have known vulnerabilities.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-vulnerable-library-versions [projects]="projects" [libraries]="libraries" [dependencies]="dependencies"></app-vulnerable-library-versions>
    </mat-expansion-panel>
  </mat-accordion>
} @else {
  <div style="position:fixed;top:50%;left:50%">
    <mat-progress-spinner [value]="(totalLoaded / totalDependencies) * 100"></mat-progress-spinner>
    <p>{{totalLoaded}} out of {{totalDependencies}}</p>
  </div>
}
