<div style="display: flex;">
  <h1 style="width: 100%; align-content: space-between">New licences</h1>
  <button style="width: fit-content" mat-button (click)="saveCustomLicences()">
    <mat-icon>save</mat-icon>
    Save selected as custom
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="dependencies">
    <th mat-header-cell *matHeaderCellDef> Dependencies </th>
    <td mat-cell *matCellDef="let element"> {{element.libraries.size}}</td>
  </ng-container>

  <ng-container matColumnDef="other-dependencies">
    <th mat-header-cell *matHeaderCellDef>Suggested licences</th>
    <td mat-cell *matCellDef="let element">
      @for (license of element.suggestedLicences; track license.target) {
        <button
          mat-button
          type="button"
          style="border-radius: 15px; margin-right: 1rem"
          (click)="addAlias(element.name, license.target)">
          + {{license.target}}
        </button>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="all-existing-licenses">
    <th mat-header-cell *matHeaderCellDef> Other licenses </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Other License</mat-label>
          <mat-select (selectionChange)="setSelectedLicense(element.name, $event.value)">
            @for (l of licenses; track l._id) {
              <mat-option value="{{l._id}}">{{l.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="addAlias(element.name, selectedLicense.get(element.name))">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="new-license">
    <th mat-header-cell *matHeaderCellDef> New license </th>
    <td mat-cell *matCellDef="let element">
      <div>
        <button mat-icon-button (click)="navigateToSave(element.name)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
