<mat-toolbar>
  <button mat-icon-button (click)="toolbarService.sidebar?.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="color: black; margin-right: 4px">
   {{editMode ? 'Edit' : 'Add'}} new licence
  </span>
</mat-toolbar>

<div style="margin: 2rem">
  @if (suggestedLicenses != undefined && suggestedLicenses.length > 0) {
    <h2>Similar existing licences</h2>
    <p>You can save this licence as one of this existing ones</p>
    @for (license of suggestedLicenses; track license.target) {
      <button
        mat-raised-button
        type="button"
        style="border-radius: 15px; margin-right: 1rem"
        (click)="addAlias(license.target)">
        + {{license.target}}
      </button>
    }
    <mat-divider style="margin-top: 2rem; margin-bottom: 2rem"></mat-divider>
  }

  <form [formGroup]="licenseForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field>
      <mat-label>License ID</mat-label>
      <input matInput formControlName="_id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Reference URL</mat-label>
      <input matInput formControlName="reference">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Details URL</mat-label>
      <input matInput formControlName="detailsUrl">
    </mat-form-field>

    <div formArrayName="seeAlso">
      @for (control of seeAlso.controls; track control.value) {
        <mat-form-field>
          <mat-label>See Also URL {{$index + 1}}</mat-label>
          <input matInput [formControlName]="$index">
        </mat-form-field>
      }
    </div>

    <button mat-raised-button color="primary" type="button" (click)="addSeeAlsoUrl('')">Add See Also URL</button>

    <mat-checkbox formControlName="isDeprecatedLicenseId">Is Deprecated</mat-checkbox>

    <mat-checkbox formControlName="isOsiApproved">Is OSI Approved</mat-checkbox>

    <mat-checkbox formControlName="custom">Is a custom licence?</mat-checkbox>

    <button mat-raised-button color="accent" type="submit">Submit</button>

    @if (error != undefined) {
      <p style="color: red">{{error}}</p>
    }
  </form>
</div>
