<p>Outdated months: {{OUTDATED_MONTHS}}</p>
<p>Out of support months: {{OUT_OF_SUPPORT_MONTHS}}</p>

<mat-form-field>
  <mat-label>State</mat-label>
  <mat-select [(value)]="selectedState" (valueChange)="filterByState()">
    <mat-option>None</mat-option>
    @for (state of states; track state) {
      <mat-option [value]="state">{{state}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element">{{getPosition(element)}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} {{element.version}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element"> {{outdatedOrOutOfSupport(element)}} </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef> Last updated </th>
    <td mat-cell *matCellDef="let element"> {{dateToString(element.timestamp)}} </td>
  </ng-container>

  <ng-container matColumnDef="uses">
    <th mat-header-cell *matHeaderCellDef> Number of uses </th>
    <td mat-cell *matCellDef="let element"> {{getNumberOfProjects(element)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
