<div *ngIf="selectedDependency !== undefined" style="margin: 3rem">
  <div *ngIf="libraryInfo" class="library-info">
    <h1>
      @if (libraryInfo.homepageUrl && libraryInfo.homepageUrl.length) {
        <a href="{{ libraryInfo.homepageUrl }}" target="_blank">{{ libraryInfo.name }}</a>
      } @else {
        {{ libraryInfo.name }}
      }
    </h1>
    <p>
      <a href="https://www.npmjs.com/package/{{libraryInfo.name}}" target="_blank">npm link</a>
    </p>
    <p *ngIf="libraryInfo.description">{{ libraryInfo.description }}</p>

    <h2>Dependency Details</h2>
    <table>
      <colgroup>
        <col style="width:10%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:20%">
      </colgroup>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Version</th>
        <th>Type</th>
        <th>Requested By</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ selectedDependency!._id }}</td>
        <td>{{ selectedDependency!.name }}</td>
        <td>{{ selectedDependency!.version }}</td>
        <!--      <td>{{ selectedDependency!.version }}</td>-->
        <td>{{ selectedDependency!.type}}</td>
        <td>{{ selectedDependency!.requestedBy.join(', ') }}</td>
      </tr>
      </tbody>
    </table>

    <section *ngIf="libraryInfo.vulnerabilities && libraryInfo.vulnerabilities.length">
      <h2>Vulnerabilities</h2>
      <ul>
        <li *ngFor="let vulnerability of libraryInfo.vulnerabilities">{{ vulnerability }}</li>
      </ul>
    </section>

    <section *ngIf="libraryInfo.licenses && libraryInfo.licenses.length">
      <h2>Licenses</h2>
      <ul>
        <li *ngFor="let license of libraryInfo.licenses">
          <app-licence-label [id]="license"></app-licence-label>
        </li>
      </ul>
    </section>

    <section *ngIf="libraryInfo.keywords && libraryInfo.keywords.length">
      <h2>Keywords</h2>
      <ul>
        <li *ngFor="let keyword of libraryInfo.keywords">{{ keyword }}</li>
      </ul>
    </section>

    <section *ngIf="libraryInfo.issuesUrl && libraryInfo.issuesUrl.length">
      <h2>Issue Tracker</h2>
      <ul>
        <li *ngFor="let url of libraryInfo.issuesUrl">
          <a href="{{ url }}" target="_blank">{{ url }}</a>
        </li>
      </ul>
    </section>

    <section *ngIf="libraryInfo.reposUrl && libraryInfo.reposUrl.length">
      <h2>Repository URLs</h2>
      <ul>
        <li *ngFor="let url of libraryInfo.reposUrl">
          <a href="{{ url }}" target="_blank">{{ url }}</a>
        </li>
      </ul>
    </section>

    <div *ngIf="(libraryInfo.homepageUrl ?? []).length > 0">
      <h2>Homepage</h2>
      <a href="{{ libraryInfo.homepageUrl }}" target="_blank">{{ libraryInfo.homepageUrl }}</a>
    </div>

    <div *ngIf="(libraryInfo.documentationUrl ?? []).length > 0">
      <h2>Documentation</h2>
      <a href="{{ libraryInfo.documentationUrl }}" target="_blank">{{ libraryInfo.documentationUrl }}</a>
    </div>

    <div *ngIf="(libraryInfo.packageUrl ?? []).length > 0">
      <h2>Package URL</h2>
      <a href="{{ libraryInfo.packageUrl }}" target="_blank">{{ libraryInfo.packageUrl }}</a>
    </div>

    <div *ngIf="libraryInfo.downloads">
      <h2>Downloads</h2>
      <p>{{ libraryInfo.downloads }}</p>
    </div>

    <section *ngIf="libraryInfo.authors && libraryInfo.authors.length">
      <h2>Authors</h2>
      <ul>
        <li *ngFor="let author of libraryInfo.authors">{{ author }}</li>
      </ul>
    </section>

    <div *ngIf="libraryInfo.requiresLicenseAcceptance !== undefined">
      <h2>Requires License Acceptance</h2>
      <p>{{ libraryInfo.requiresLicenseAcceptance ? 'Yes' : 'No' }}</p>
    </div>

    <section *ngIf="libraryInfo.versions && libraryInfo.versions.length">
      <h2>Versions</h2>
      <ul>
        @for (version of libraryInfo.versions; track version.version) {
          @if ($index < displayLimit) {
            <li>Version: {{version.version}}</li>
            <ul>
              <li>Release date: {{convertToDateString(version.timestamp)}}</li>
              @if (version.downloads) {
                <li>Downloads: {{version.downloads}}</li>
              }
              @if (version.licenses) {
                @if (isString(version.licenses)) {
                  <li>
                    Licence:
                    <app-licence-label [id]="version.licenses.toString()"></app-licence-label>
                  </li>
                } @else {
                  <li>Licences:
                    <ul>
                      @for (licence of version.licenses; track licence) {
                        <li>
                          <app-licence-label [id]="licence"></app-licence-label>
                        </li>
                      }
                    </ul>
                  </li>
                }
              }
            </ul>
          }
        }
        <button mat-flat-button color="accent" *ngIf="libraryInfo.versions.length > displayLimit" (click)="loadMore()">Load More</button>
      </ul>
    </section>
  </div>

</div>
