<div class="app-container">
  <mat-toolbar>
    <button mat-icon-button (click)="toolbarService.sidebar?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color: black; margin-right: 4px">
    {{ project.name ?? projectId}}
  </span>
  </mat-toolbar>


  <div style="padding: 2rem">
    @defer {
      <ng-container *ngIf="project">
        <h3>{{project.projectPath}}</h3>
        <app-dependencies
          [allDependencies]="project.dependencies"
        ></app-dependencies>
      </ng-container>
    }
  </div>
</div>
