<mat-toolbar>
  <button mat-icon-button (click)="toolbarService.sidebar?.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="color: black; margin-right: 4px">
    {{dependency?.name ?? id}}
  </span>
</mat-toolbar>


@defer (when dependency === undefined) {
  <div style="padding: 2rem">
    <div class="card">
      <p class="stat-name">Description</p>
      <p>{{dependency?.description}}</p>

      <div class="stats">
        <div class="stat">
          <div class="stat-container">
            <div class="stat-name">Keywords</div>
          </div>
          <div class="stat-value">
            @for (keyword of dependency?.keywords; track keyword) {
              <span class="keyword">{{ keyword }}, </span>
            }
          </div>
        </div>
        <div class="stat">
          <div class="stat-container">
            <div class="stat-name">Licences</div>
          </div>
          <div class="stat-value">{{ dependency?.licenses }}</div>
        </div>
      </div>
    </div>

    <div class="card">
      <p class="stat-name" style="font-size: 18px">URLs</p>
      <div class="stats">
        @if (dependency?.homepageUrl !== undefined) {
          <div class="stat">
            <div class="stat-container">
              <p class="stat-name">Repository URL</p>
            </div>
            @for (url of dependency?.homepageUrl; track url) {
              <button mat-button style="background-color: #252B36; color: white" (click)="navigateToUrl(dependency?.homepageUrl!)">
                <mat-icon>link</mat-icon>
                {{ extractDomain(url) }}
              </button>
            }
          </div>
        }
        @if (dependency?.reposUrl!.length > 0) {
          <div class="stat">
            <div class="stat-container">
              <p class="stat-name">Repository URL</p>
            </div>
            @for (url of dependency?.reposUrl; track url) {
              <button mat-button style="background-color: #252B36; color: white" (click)="navigateToUrl(url)">
                <mat-icon>link</mat-icon>
                {{ extractDomain(url) }}
              </button>
            }
          </div>
        }
        @if (dependency?.documentationUrl!.length > 0) {
          <div class="stat">
            <div class="stat-container">
              <div class="stat-name">Documentation URL</div>
            </div>
            @for (url of dependency?.documentationUrl; track url) {
              <button mat-button style="background-color: #252B36; color: white" (click)="navigateToUrl(url)">
                <mat-icon>link</mat-icon>
                {{ extractDomain(url) }}
              </button>
            } @empty {
              <li>There are no items.</li>
            }
          </div>
        }
        @if (dependency?.issuesUrl!.length > 0) {
          <div class="stat">
            <div class="stat-container">
              <div class="stat-name">Issues URL</div>
            </div>
            @for (url of dependency?.issuesUrl; track url) {
              <button mat-button style="background-color: #252B36; color: white" (click)="navigateToUrl(url)">
                <mat-icon>link</mat-icon>
                {{ extractDomain(url) }}
              </button>
            } @empty {
              <li>There are no items.</li>
            }
          </div>
        }
        @if (dependency?.packageUrl!.length > 0) {
          <div class="stat">
            <div class="stat-container">
              <p class="stat-name">Packages URL</p>
            </div>
            @for (url of dependency?.packageUrl; track url) {
              <button mat-button style="background-color: #252B36; color: white" (click)="navigateToUrl(url)">
                <mat-icon>link</mat-icon>
                {{ extractDomain(url) }}
              </button>
            } @empty {
              <li>There are no items.</li>
            }
          </div>
        }
      </div>
    </div>

    @if ((dependency!.versions ?? []).length > 0) {
      <div class="card">
        <p class="stat-name" style="font-size: 18px">Versions</p>
        <div>
          <app-versions-table [versions]="dependency?.versions ?? []"></app-versions-table>
        </div>
      </div>
    }

    @if ((dependency!.vulnerabilities ?? []).length > 0) {
      <div class="card">
        <p class="stat-name" style="font-size: 18px">Vulnerabilities</p>
        <app-vulnerabilities-table [vulnerabilities]="dependency!.vulnerabilities!"></app-vulnerabilities-table>
      </div>
    }
  </div>
}
