on:
  push:
    branches:
      - "*"

name: Build & Test

jobs:
  release:
    name: Build And Test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '18.x'
          cache: 'npm'

      - name: Build Node App
        run: |
          npm ci
          npm run create
        env:
#          GH_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}
          CI: true


